name: "{{ model_name }}"
backend: "python"
max_batch_size: {{ MAX_BATCH_SIZE | default(8) }}
dynamic_batching { }

version_policy: { specific: { versions: [1]}}

input [
  {
    name: "image_bytes"
    data_type: TYPE_STRING
    dims: [ 1 ]
  }
]

output [
  {
    name: "layout_items"
    data_type: TYPE_STRING
    dims: [ 1 ]
  }
]

# VENV
parameters: {
  key: "EXECUTION_ENV_PATH"
  value: { string_value: "$$TRITON_MODEL_DIRECTORY/venv.tar.gz" }
}

# Model Parameters
parameters: {
  key: "DOCLAYOUT_THRESHOLD",
  value: { string_value: "{{ param_doclayout_threshold | default('0.5') }}" }
}

parameters: {
  key: "INFERENCE_BATCH_SIZE",
  value: { string_value: "{{ param_inference_batch_size | default('8') }}" }
}
