name: "{{ model_name }}"
backend: "python"
max_batch_size: {{ max_batch_size | default(256) }}
dynamic_batching { }

version_policy: { specific: { versions: [1]}}
input [
  {
    name: "text"
    data_type: TYPE_STRING
    dims: [ -1 ] 
  }
]
output [
  {
    name: "spans"
    data_type: TYPE_STRING
    dims: [ -1 ]
  },
  {
    name: "predictions"
    data_type: TYPE_STRING
    dims: [ -1 ]
  }
]

# VENV
parameters: {
  key: "EXECUTION_ENV_PATH"
  value: {string_value: "$$TRITON_MODEL_DIRECTORY/venv.tar.gz"}
}


# Model Parameters
## Tokenizer Parameters
parameters: {
  key: "TOKENIZER_MAX_LENGTH",
  value: { string_value: "{{ param_tokenizer_max_length | default('512') }}" }
}
parameters: {
  key: "TOKENIZER_PADDING_SIDE",
  value: { string_value: "{{ param_tokenizer_padding_side | default('right') }}" }
}
parameters: {
  key: "TOKENIZER_ADDITIONAL_PARAMS",
  value: { string_value: "{{ param_tokenizer_additional_params | default('{}') }}" }
}
parameters: {
  key: "TOKENIZER_MAX_LENGTH_TRUNCATION_OFFSET",
  value: { string_value: "{{ param_tokenizer_max_length_truncation_offset | default('16') }}" }
}

## VLLM Parameters
parameters: {
  key: "VLLM_MAX_NUM_SEQS",
  value: { string_value: "{{ param_vllm_max_num_seqs | default('8') }}" }
}
parameters: {
  key: "VLLM_DTYPE",
  value: { string_value: "{{ param_vllm_dtype | default('auto') }}" }
}
parameters: {
  key: "VLLM_GPU_MEMORY_UTILIZATION",
  value: { string_value: "{{ param_vllm_gpu_memory_utilization | default('0.15') }}" }
}
parameters: {
  key: "VLLM_ADDITIONAL_OPTIONS",
  value: { string_value: "{{ param_vllm_additional_options | default('{}') }}" }
}
